html, body{
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;

}

body{
    display: flex;
    flex-direction: column;
}

aside{
    display: none;
}

nav, header, footer, aside, section{
    background-color: #ccc;
    box-shadow: #666666 1px 2px 3px;
    width: 100%;
    min-height: 200px;

}

nav, footer, header{
    background-image: url(Colorful-Polygons-Abstract-Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer, nav{
    display: flex;
    flex-direction: row;
    order: 4;
}

a{
    color: #FFF;
    padding: 10px;
    font-size: 24px;
    text-decoration: underline;
    z-index: 999;
    font-weight: 100;
    text-shadow: #333 1px 1px 1px;
}

a:hover{
    cursor: pointer;
    font-style: italic;
}

header h1{
    font-size: 48px;
    text-align: center;
    color: #FFF;
    text-shadow: #333 1px 1px 1px;
    align-self: center;
    z-index: 999;
}

h1{
    padding: 10px;
}

p{
    padding: 10px;
}

/* flexbox for mobile */
header{
    order: 1;
    display: flex;
    justify-content: center;
    position: relative
}

header::before{
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
}

nav{
    order: 2;
}

main{
    order: 3;
}

footer{
    order: 4;
}

/* CSS Grid for desktop */
@media(min-width: 1024px){

    a{
        color: #333;
        text-shadow: none;
    }

    a:hover{
        color: #c80;
        font-style: normal;
    }

    html{
        height: 100%;
    }

    body{
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: 200px 20px auto 20px 200px;
        grid-template-rows: 200px 20px auto 20px 200px;
        grid-template-areas:    "head    head    head    head    head"
                                "nav     .       .       .       ."
                                "nav     .       main    main    ."
                                "nav     .       .       .       ."
                                "foot    foot    foot    foot    foot";
    }

    aside{
        display: block;
    }

    nav{
        padding-top: 20px;
        flex-direction: column;
        background-image: none;
        background-color: #eee;
        grid-area: nav;
    }

    header{
        grid-area: head;
        z-index: 888;
        min-height: 0;
        background-color: #333;
        background-image: none;
    }

    header::before{
        background-color: transparent;
    }

    main{
        grid-area: main;
    }

    footer{
        grid-area: foot;
        z-index: 889;
        justify-content: flex-end;
        flex-direction: row;
    }

    #aside1{
        display: none;
    }

    #aside2{
        display: none;
    }

    nav a{
        text-align: right;
    }

    footer a{
        color: #fff;
    }
}

/* CSS Grid for large desktop */
@media(min-width: 1940px){
    body{
        display: grid;
        grid-template-columns: 100px 300px 20px 3fr 20px 300px 100px;
        grid-template-rows: 100px 300px 20px 300px 20px 300px 20px auto 100px;
        grid-template-areas:    ".     .       .       .       .       .       ."
                                ".     nav     .       aside1  aside1  aside1  ."
                                ".     nav     .       .       .       .       ."
                                ".     head    head    head    head    head    ."
                                ".     .       .       .       .       foot    ."
                                ".     aside2  .       main    .       foot    ."
                                ".     aside2  .       main    .       .       ."
                                ".     aside2  .       main    .       .       .";
    }

    aside{
        display: block;
    }

    nav{
        grid-area: nav;
        background-image: url(Colorful-Polygons-Abstract-Background.jpg);
    }

    header{
        grid-area: head;
        z-index: 888;
        background-image: url(Colorful-Polygons-Abstract-Background.jpg);
    }

    header::before{
        background-color: transparent;
    }

    main{
        grid-area: main;
    }

    footer{
        grid-area: foot;
        z-index: 889;
        justify-content: flex-end;
    }

    #aside1{
        grid-area: aside1;
        display: block;
        background-image: url(https://picsum.photos/2400/400?image=1026);
    }

    #aside2{
        grid-area: aside2;
        display: block;
        background-image: url(https://picsum.photos/300/1400?image=893);
    }


    footer, nav{
        flex-direction: column;
        order: 4;
    }

    a {
        color: #FFF;
        text-shadow: #333 1px 1px 1px;
    }

    nav a{
        text-align: right;
    }

    footer a{
        text-align: left;
    }
}

