section.wow{
  display: grid;
  margin: 10px;

  grid-template-columns: 1fr 100px 200px 100px 1fr;
  grid-template-rows: 1fr 100px 200px 100px 1fr;
  grid-template-areas:  ".     .     .     .     ."
                        ".     .     .     cat   ."
                        ".     .     .     .     ."
                        ".     dog   .     .     ."
                        ".     .     .     .     .";

  aside{
    background-color: #ccc;
    box-shadow: #333 1px 1px 3px;
  }

  aside.cat{
    grid-area: cat;
    background-image: url(https://picsum.photos/300/300?image=1074);
    background-size: cover;
  }

  aside.dog{
    grid-area: dog;
    background-image: url(https://picsum.photos/300/300?image=1062);
    background-size: cover;
  }

}