@media(min-width: 1024px){
  body{
    display: grid;
    grid-template-columns: 400px 20px 1fr 20px;
    grid-template-rows: 200px auto 100px;

    grid-template-areas:  "nav  head  head  head"
                          "nav  .     main     ."
                          "nav  foot  foot  foot";


    header{
      grid-area: head;
    }

    nav{
      grid-area: nav;

      ul{
        padding-top: 40px;
        width: 400px;
        position: fixed;
      }
    }

    main{
      grid-area: main;

      section.ghostlybackground{
        margin-bottom: 30px;
      }
    }

    footer{
      grid-area: foot;
    }


  }
}