section.example{
  display: grid;
  padding: 0;
  grid-template-columns: 20px 1fr 3fr 1fr 20px;
  grid-template-rows: 100px 1fr auto 1fr 100px;
  background-color: #999;
  margin: 20px;

  aside.bottom-left{
    grid-column: 1;
    grid-row: 5;
    background-image: url(images/354.jpg);
    background-size: cover;

    &.widerplz{
      grid-column: 1 / 3;
    }
  }
}


section.named-example{
  display: grid;
  padding: 0;
  grid-template-columns: [start] 20px [leftpad] 1fr [leftcolumn] 3fr [maincontent] 1fr [rightpad] 20px [end];
  grid-template-rows: [tippytop] 100px [headerend] 1fr [navend] auto [contentend] 1fr [footerstart] 100px [endoftheroadpal];
  background-color: #999;
  margin: 20px;

  aside.bottom-right{
    grid-column: maincontent / end;
    grid-row: contentend / endoftheroadpal;
    background-image: url(images/354.jpg);
    background-size: cover;
  }
}