@media(min-width: 1900px){
  body{
    display: grid;
    grid-template-columns: 400px 30px 1fr 1fr 30px;
    grid-template-rows: 200px auto 100px;

    grid-template-areas:  "nav  head   head  head   head"
                          "nav  .      main  main   ."
                          "nav  foot   foot  foot   foot";

    header{
      grid-area: head;
    }

    nav{
      grid-column: nav;
    }

    main{
      grid-area: main;
      display: grid;
      max-width: none;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "topleft    topright"
                           "bottomleft topright"
                           "bottomleft bottomright";

      grid-column-gap: 30px;
      grid-row-gap: 30px;
      padding-left: 30px;
      padding-right: 30px;
      grid-auto-flow: dense;

      section.ghostlybackground{
        margin-bottom: 0;
      }

      #worldtoday{
        grid-area: topleft;
      }

      #turnitup{
        grid-area: bottomleft;
      }

      #howwecouldwork{
        grid-area: topright;
      }
    }

    footer{
      grid-area: foot;
    }

  }
}