@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import "mobile";
@import "example";
@import "astonishment";

@supports(grid-area: auto){
  @import "desktop";
  @import "largedesktop";
}

html, body{
  font-family: 'Raleway', sans-serif;
  background-image: url(images/seigaiha.png);
}

header{
  h1{
    font-size: 48px;
    font-family: 'Pacifico', cursive;
    text-shadow: #74B3FF 0px 5px 0px;
  }
}

h1{
  font-size: 36px;
  border-bottom: 1px solid $color-light-background;
}

a{
  &:hover{
    font-style: italic;
  }
 }

nav{
  a{
    text-decoration: none;
    padding: $size-padding;
    border: 1px solid #FFF;
    border-radius: 20px;
    width: 300px;
    margin: $size-padding;
    text-align: center;
    display:block;
  }
}


footer{
  display: flex;
  flex-direction: row;
  background-color: $color-dark-background;
  min-height: 120px;
  justify-content: flex-end;
  flex-wrap: wrap;

  a{
    &::before{
      content: "-"
    }

    &::after{
      content: "-"
    }

    font-family: 'Pacifico', cursive;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    align-self: center;
  }
}

blockquote{
  background-color: $color-light-background;
  border: 1px solid $color-border;
  padding: 10px;
}


.ghostlybackground{
  padding: $size-padding;
  position: relative;

  &::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .4;
    background-color: #FFF;
    z-index: 1;
    margin: -10px;
  }

  h1, p, pre, article, img, aside, figure{
    z-index: 999;
    position: relative;
  }
}