@import "colors";
@import "sizes";

body, html{
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  flex-direction: column;
}

header{
  min-height: 100px;
  align-self: center;
  justify-self: center;
}

nav{
  display: flex;
  flex-direction: column;
  background-color: $color-dark-background;

  ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;

    li{
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }

  a{
    padding: $size-padding;
    color: #fff;
    font-size: 24px;
  }

}

main{
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}