@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
body, html {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  flex-direction: column; }

header {
  min-height: 100px;
  align-self: center;
  justify-self: center; }

nav {
  display: flex;
  flex-direction: column;
  background-color: #333; }
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%; }
    nav ul li {
      display: flex;
      width: 100%;
      justify-content: center; }
  nav a {
    padding: 10px;
    color: #fff;
    font-size: 24px; }

main {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto; }

section.example {
  display: grid;
  padding: 0;
  grid-template-columns: 20px 1fr 3fr 1fr 20px;
  grid-template-rows: 100px 1fr auto 1fr 100px;
  background-color: #999;
  margin: 20px; }
  section.example aside.bottom-left {
    grid-column: 1;
    grid-row: 5;
    background-image: url(images/354.jpg);
    background-size: cover; }
    section.example aside.bottom-left.widerplz {
      grid-column: 1 / 3; }

section.named-example {
  display: grid;
  padding: 0;
  grid-template-columns: [start] 20px [leftpad] 1fr [leftcolumn] 3fr [maincontent] 1fr [rightpad] 20px [end];
  grid-template-rows: [tippytop] 100px [headerend] 1fr [navend] auto [contentend] 1fr [footerstart] 100px [endoftheroadpal];
  background-color: #999;
  margin: 20px; }
  section.named-example aside.bottom-right {
    grid-column: maincontent / end;
    grid-row: contentend / endoftheroadpal;
    background-image: url(images/354.jpg);
    background-size: cover; }

section.wow {
  display: grid;
  margin: 10px;
  grid-template-columns: 1fr 100px 200px 100px 1fr;
  grid-template-rows: 1fr 100px 200px 100px 1fr;
  grid-template-areas: ".     .     .     .     ." ".     .     .     cat   ." ".     .     .     .     ." ".     dog   .     .     ." ".     .     .     .     ."; }
  section.wow aside {
    background-color: #ccc;
    box-shadow: #333 1px 1px 3px; }
  section.wow aside.cat {
    grid-area: cat;
    background-image: url(https://picsum.photos/300/300?image=1074);
    background-size: cover; }
  section.wow aside.dog {
    grid-area: dog;
    background-image: url(https://picsum.photos/300/300?image=1062);
    background-size: cover; }

@supports (grid-area: auto) {
  @media (min-width: 1024px) {
    body {
      display: grid;
      grid-template-columns: 400px 20px 1fr 20px;
      grid-template-rows: 200px auto 100px;
      grid-template-areas: "nav  head  head  head" "nav  .     main     ." "nav  foot  foot  foot"; }
      body header {
        grid-area: head; }
      body nav {
        grid-area: nav; }
        body nav ul {
          padding-top: 40px;
          width: 400px;
          position: fixed; }
      body main {
        grid-area: main; }
        body main section.ghostlybackground {
          margin-bottom: 30px; }
      body footer {
        grid-area: foot; } }
  @media (min-width: 1900px) {
    body {
      display: grid;
      grid-template-columns: 400px 30px 1fr 1fr 30px;
      grid-template-rows: 200px auto 100px;
      grid-template-areas: "nav  head   head  head   head" "nav  .      main  main   ." "nav  foot   foot  foot   foot"; }
      body header {
        grid-area: head; }
      body nav {
        grid-column: nav; }
      body main {
        grid-area: main;
        display: grid;
        max-width: none;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "topleft    topright" "bottomleft topright" "bottomleft bottomright";
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        padding-left: 30px;
        padding-right: 30px;
        grid-auto-flow: dense; }
        body main section.ghostlybackground {
          margin-bottom: 0; }
        body main #worldtoday {
          grid-area: topleft; }
        body main #turnitup {
          grid-area: bottomleft; }
        body main #howwecouldwork {
          grid-area: topright; }
      body footer {
        grid-area: foot; } } }

html, body {
  font-family: 'Raleway', sans-serif;
  background-image: url(images/seigaiha.png); }

header h1 {
  font-size: 48px;
  font-family: 'Pacifico', cursive;
  text-shadow: #74B3FF 0px 5px 0px; }

h1 {
  font-size: 36px;
  border-bottom: 1px solid #ccc; }

a:hover {
  font-style: italic; }

nav a {
  text-decoration: none;
  padding: 10px;
  border: 1px solid #FFF;
  border-radius: 20px;
  width: 300px;
  margin: 10px;
  text-align: center;
  display: block; }

footer {
  display: flex;
  flex-direction: row;
  background-color: #333;
  min-height: 120px;
  justify-content: flex-end;
  flex-wrap: wrap; }
  footer a {
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    align-self: center; }
    footer a::before {
      content: "-"; }
    footer a::after {
      content: "-"; }

blockquote {
  background-color: #ccc;
  border: 1px solid #666;
  padding: 10px; }

.ghostlybackground {
  padding: 10px;
  position: relative; }
  .ghostlybackground::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .4;
    background-color: #FFF;
    z-index: 1;
    margin: -10px; }
  .ghostlybackground h1, .ghostlybackground p, .ghostlybackground pre, .ghostlybackground article, .ghostlybackground img, .ghostlybackground aside, .ghostlybackground figure {
    z-index: 999;
    position: relative; }
